<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @facility.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @facility.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @facility.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @facility.zip %>
</p>

<p>
  <strong>Location:</strong>
  <%= @facility.location %>
</p>

<p>
  <strong>Location information:</strong>
  <%= @facility.location_information %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= @facility.closing_time %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @facility.opening_time %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
